<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
  <div id="messages">
    <ul class="error">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
    </ul>
  </div>
<% } %>
<div class="login-container">
    <form class="login-form" action="/account/login" method="post">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">

      <label for="password">Password</label>
      <input type="password" id="password" name="account_password" required
             pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$">
      <div class="form-hint">Password must have at least 12 characters and has at least 1 uppercase character, 1 number and 1 special character.</div>

      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a class="register-link" href="/account/register"> Register here</a></p>
</div>