<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>

        <%- include('../partials/header') %>
        
        <main  class="main main_common  main_common--borderleft main_common--border_rigth ">
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>